header {
  background-color: #7b88dc;
  padding: 3%;
}
.btn-primary {
  background-color: #6455c9 !important;
  border-color: #6455c9 !important;
}
.input-color {
  background-color: #7b88dc;
  border: none;
  color: white;
  font-size: 20px;
}
body {
  background-color: #9cc2f7 !important;
}

.above {
  width: 20%;
  margin-left: 40%;
}

.name1 {
  color: white;
  margin-left: 40%;
  font-size: 20px;
}
.flex1 {
  display: flex;
  gap: 10px;
  font-size: 20px;
  margin-left: 10%;
}
.temp1 {
  float: left;
}
.flex2 {
  display: flex;
  gap: 10px;
  font-size: 20px;
}
.hum1 {
  float: left;
}
.pres1 {
  float: left;
}

.imgwidth {
  width: 50%;
}
