body,
html,
* {
  padding: 5px;
  margin: 5px;
}

header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
figure {
  float: left;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
  right: 80%;
}
hgroup h2 {
  display: none;
}
hgroup h1 {
  border-bottom: 1px solid gray;
}
#about {
  position: absolute;
  top: 21%;
  width: 70%;
}
#about h3 {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
}

#competencies {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
#competencies h3 {
  border-right: 1px solid black;
  padding-bottom: 50px;
}
.skills {
  display: flex;
  flex-direction: row;
  width: 10%;
}
.skills-primary {
  clear: right;
}
.skill {
  display: flex;
  flex-direction: row;
}

#experiences {
  display: flex;
}
#experiences h3 {
  border-right: 1px solid black;
}
.experience h4 {
  float: left;
}
.experience-details {
  float: right;
}

.experiences div {
  background-color: red;
}
